<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logFolder" value=".\Logs" />
    <add key="otherFolder" value=".\Other" />
    <add key="receiversFile" value="Receivers.txt" />
    <add key="senderEmail" value="" />
    <add key="DbTypeToUse" value="MsSql" />
  </appSettings>
  <connectionStrings>
    <add name="MsSql"
         connectionString="Server=;Database=ProInfoService;Trusted_Connection=true;"
         providerName="System.Data.SqlClient"
         />
    <add name="PostgreSql"
         connectionString="Server=localhost;Port=5433;Database=ProInfoService;User Id=postgres;Password="
         providerName="Npgsql"
         />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.mail.ru" userName="" password="" port="25" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>